absl-py==2.4.0
accelerate==0.34.2
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-cors==0.8.1
aiosignal==1.3.2
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.71.0
antlr4-python3-runtime==4.9.3
anyio==4.13.0
apache-tvm-ffi==0.1.10
arckit==0.1.0
astor==0.8.1
async-timeout==5.0.1
attrs==25.3.0
Authlib==1.7.0
av==15.1.0
bfi==1.0.4
black==26.5.1
blake3==1.0.8
brotli==1.2.0
build==1.4.4
cachetools==7.0.6
cairocffi==1.7.1
CairoSVG==2.7.1
cbor2==5.9.0
cellpylib==2.4.0
certifi==2026.4.22
cffi==2.0.0
cfgv==3.5.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.2.1
cloudpickle==3.1.2
cmake==4.3.2
cmudict==1.1.1
codetiming==1.4.0
colorama==0.4.6
colorful==0.5.8
compressed-tensors==0.12.2
contourpy==1.3.2
cryptography==47.0.0
cssselect2==0.8.0
cuda-bindings==13.2.0
cuda-pathfinder==1.5.3
cuda-python==13.2.0
cupy-cuda12x==13.6.0
cycler==0.12.1
dacite==1.9.2
DataProperty==1.1.1
datasets==3.1.0
decord==0.6.0
deepspeed==0.16.4
defusedxml==0.7.1
Deprecated==1.3.1
depyf==0.20.0
dill==0.3.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.18.0
drawsvg==2.4.1
einops==0.8.2
email-validator==2.3.0
et_xmlfile==2.0.0
evaluate==0.4.6
exceptiongroup==1.3.1
Farama-Notifications==0.0.6
fastapi==0.136.1
fastapi-cli==0.0.24
fastapi-cloud-cli==0.17.0
fastar==0.11.0
fastrlock==0.8.3
filelock==3.25.2
flash_attn==2.8.3
flashinfer-python==0.5.3
fonttools==4.62.1
frozenlist==1.5.0
fsspec==2024.9.0
ftfy==6.3.1
gem-llm==0.0.4
gguf==0.18.0
gitdb==4.0.12
GitPython==3.1.47
google-api-core==2.30.3
google-auth==2.49.2
google-genai==2.5.0
googleapis-common-protos==1.74.0
gradio==6.13.0
gradio_client==2.5.0
groovy==0.1.2
grpcio==1.80.0
gym==0.26.2
gym-notices==0.1.0
gym-sokoban==0.0.6
gymnasium==1.3.0
h11==0.16.0
hf-gradio==0.4.1
hf-xet==1.4.3
hf_transfer==0.1.9
hjson==3.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
hydra-core==1.3.2
identify==2.6.19
idna==3.13
ImageIO==2.37.3
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.3.0
interegular==0.3.3
isort==8.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.14.0
jmespath==1.1.0
joblib==1.5.3
joserfc==1.6.4
jsonlines==4.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
langdetect==1.0.9
lark==1.2.2
latex2sympy2==1.5.4
latex2sympy2_extended==1.10.1
llguidance==1.3.0
llvmlite==0.44.0
lm-format-enforcer==0.11.3
lmms_eval==0.7.1
loguru==0.7.3
loralib==0.1.2
lxml==6.1.1
magiccube==0.3.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
math-verify==0.3.3
matplotlib==3.10.9
mbstrdecoder==1.1.5
mcore_adapter @ file:///home/xuboshen/fy/roll-caption/mcore_adapter
mcp==1.27.0
mdurl==0.1.2
megatron-core==0.16.1
mistral_common==1.11.0
ml_dtypes==0.5.4
model-hosting-container-standards==0.1.14
modelscope==1.36.2
more-itertools==11.0.2
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.21.1
multidict==6.1.0
multiprocess==0.70.16
mypy_extensions==1.1.0
narwhals==2.20.0
networkx==3.4.2
ninja==1.13.0
nltk==3.9.1
nodeenv==1.10.0
numba==0.61.2
numexpr==2.14.1
numpy==1.26.4
nvdlfw_inspect==0.2.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cudnn-frontend==1.22.1
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-cutlass-dsl==4.4.2
nvidia-cutlass-dsl-libs-base==4.4.2
nvidia-ml-py==13.595.45
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
onnx==1.21.0
onnx-ir==0.2.1
onnxscript==0.7.0
openai==2.32.0
openai-harmony==0.0.8
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.44.0
opentelemetry-exporter-otlp==1.44.0
opentelemetry-exporter-otlp-proto-common==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-exporter-otlp-proto-http==1.44.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-proto==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-semantic-conventions==0.65b0
orjson==3.11.8
outlines_core==0.2.11
packaging==26.2
pandas==2.2.3
partial-json-parser==0.2.1.1.post7
pathspec==1.1.1
pathvalidate==3.3.1
peft==0.12.0
pillow==11.3.0
platformdirs==4.9.6
plotly==6.7.0
pluggy==1.6.0
portalocker==3.2.0
pre_commit==4.6.0
prettytable==3.17.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.25.0
pronouncing==0.2.0
propcache==0.2.1
proto-plus==1.27.2
protobuf==6.33.6
psutil==7.2.2
py-cpuinfo==9.0.0
py-spy==0.4.2
pyarrow==18.1.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybase64==1.4.3
pybind11==3.0.4
pycocoevalcap==1.2
pycocotools==2.0.11
pycosat==0.6.6
pycountry==26.2.16
pycparser==2.22
pydantic==2.13.3
pydantic-extra-types==2.11.2
pydantic-settings==2.14.0
pydantic_core==2.46.3
pydub==0.25.1
pyecharts==2.1.0
pyfiglet==1.0.2
pygame-ce==2.5.7
Pygments==2.20.0
PyJWT==2.12.1
pyparsing==3.3.2
pyproject_hooks==1.2.0
pytablewriter==1.2.1
pytest==9.0.3
python-dateutil==2.9.0.post0
python-discovery==1.2.2
python-dotenv==1.2.2
python-json-logger==4.1.0
python-multipart==0.0.26
pytokens==0.4.1
pytz==2025.2
pyvers==0.2.2
PyYAML==6.0.3
pyzmq==27.1.0
qwen-vl-utils==0.0.14
ray==2.48.0
reasoning_gym==0.1.23
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
rich==13.9.4
rich-toolkit==0.19.7
rignore==0.7.6
-e git+https://github.com/fyrisk/roll-caption.git@ce3158fc4639451e694540c351464607a7fb0f47#egg=roll
rpds-py==0.30.0
sacrebleu==2.6.0
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
semantic-version==2.10.0
sentence-transformers==5.5.1
sentencepiece==0.2.1
sentry-sdk==2.58.0
setproctitle==1.3.7
setuptools-scm==10.0.5
sglang-router==0.3.2
shellingham==1.5.4
simplejson==4.1.1
six==1.17.0
smart_open==7.6.0
smmap==5.0.3
sniffio==1.3.1
sse-starlette==3.4.1
starlette==0.52.1
supervisor==4.3.0
swanlab==0.7.16
sympy==1.14.0
tabledata==1.3.5
tabulate==0.9.0
tcolorpy==0.1.7
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensordict==0.12.2
threadpoolctl==3.6.0
tiktoken==0.12.0
timm==1.0.27
tinycss2==1.4.0
tokenizers==0.22.2
tomli==2.4.1
tomlkit==0.14.0
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchvision==0.23.0+cu128
tqdm==4.67.3
tqdm-multiprocess==0.0.11
trackio==0.20.2
TransferQueue==0.1.6
transformer_engine @ file:///home/xuboshen/TransformerEngine
transformers==4.57.3
transformers-stream-generator==0.0.5
triton==3.4.0
trl==0.9.6
typeguard==4.5.1
typepy==1.3.5
typer==0.25.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==1.0.13
tzdata==2025.2
unzip==1.0.0
urllib3==2.6.3
uv==0.11.7
uvicorn==0.46.0
uvloop==0.22.1
vcs-versioning==1.1.1
virtualenv==21.2.4
vllm==0.10.2
wandb==0.26.1
watchfiles==1.1.1
wcwidth==0.6.0
webencodings==0.5.1
websockets==16.0
Werkzeug==3.1.8
wrapt==2.1.2
xgrammar==0.1.27
xxhash==3.5.0
yarl==1.18.3
yt-dlp==2026.3.17
zipp==3.23.0
zss==1.2.0
zstandard==0.25.0
